@import url('https://fonts.googleapis.com/css?family=Allura');

#title {
  text-align: center;
  color: #fff2c6;
  font-family: "Allura", Arial, sans-serif;
  font-size: 50px;
}

.row {
	margin: auto;
  float: left;
}

.unit {
  height: 20px;
  width: 20px;
  margin: auto;
  background-color: white;
}

#canvas {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: auto;
  border-width: 3px;
  border-style: double;
  border-color: black;
  overflow: hidden;
}

#button-bar {
  text-align: center;
  margin-bottom: 20px;
}

#options-list{
	display: none;
}

body {
	background-color: #585d66;
}

#current-color{
  height: 10px;
  width: 10px;
  background-color: black;
  display: inline-block;
  margin-left: 5px;
  border-style: line;
  border-width: 1px;
  border-color: black;
}